@using SamMiller.Mumba.Models
@model Board
@{
    ViewData["Title"] = "Add Board";
}
<div class=container>
<form method="post">
    <label>Title of Board:</label>
    <input asp-for="Title" placeholder="Title">
    <input hidden asp-for="UserId" Model.UserId>
    <button class="btn" type="submit">
        Create
    </button>
</form>
</div>