@{
ViewData["Title"] = "Your Boards:";
}
@using SamMiller.Mumba.Models
@using System.Collections.Generic
@model IEnumerable<Board>

<div class="fixed-action-btn">
    <a asp-action=Add asp-controller="Boards" class="btn-floating btn-large waves-effect waves-light red"><i
            class="large material-icons">add</i></a>
</div>

<div class="container">
   <div class="row">
  @foreach (var board in Model) 
  {
 
    <div class="col s12 m6 l3">
      <div class="card stickey-action grey darken-1 hoverable activation">
        <div class="card-content white-text">
          <span class="card-title center-align">@board.Title</span>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 center-align">@board.Title<i class="material-icons right">close</i></span>
        </div>
        <div class="card-action">
          <a asp-action="Open" asp-route-id="@board.Id">Open</a>
        </div>
      </div>
    </div>
 
  }
   </div>
  
</div>