@using SamMiller.Mumba.Models
@model SamMiller.Mumba.Models.Board
@{
    ViewData["Title"] = "Edit Board";
}

<div class="container">
<form method="post">
    <input asp-for="Title" placeholder="Title" Model.Title required>
    <input hidden asp-for="Id" Model.Id>
    <button asp-route-id="Model.Id" class="btn" type="submit">
       Update <i class="material-icons right">send</i>
    </button>
</form>
</div>


<script>  $(document).ready(function() {
    M.updateTextFields();
  });</script>