
@using SamMiller.Mumba.Models.BoardViewModels
@using System.Collections.Generic
@model BoardView


@{
ViewData["Title"] = $"{Model.Board.Title}" ;
}

<div class="row">
    <div class="col s4">
        <h2 class="center">To Do</h2>
    </div>
    <div class="col s4">
        <h2 class="center">In Progress</h2>
    </div>
    <div class="col s4">
        <h2 class="center">Done</h2>
    </div>
</div>


</div>