
@using SamMiller.Mumba.Models.BoardViewModels
@using System.Collections.Generic
@model BoardView

@{
ViewData["Title"] = $"{Model.Board.Title}" ;
}

<div class="row">
    <div class="col s4">
        <h2>To Do</h2>
    </div>
    <div class="col s4">
        <h2>In Progress</h2>
    </div>
    <div class="col s4">
        <h2>Done</h2>
    </div>
</div>
@foreach (var task in Model.Tasks)
{
    @if (task.ListNum == 1)
    {
        <div class="col s4"></div>

    }
    
}

</div>