@using SamMiller.Mumba.Models.AccountViewModels
@model NewAppUser
@{
    ViewData["Title"] = "Register";
}
<div class="container">
<form method="post">
    <input class=validate asp-for="Name" placeholder="Name" required>
    <label>Name</label>
    <input asp-for="UserName" placeholder="Username" class=validate required>
    <label>Username</label>
    <input asp-for="Email" placeholder="Email" type="email" class="validate" required>
    <label>Email</label>
    <input asp-for="Password" type="password" placeholder="Password" class="validate" required>
    <label>Password</label>
    <br>
    <button class="btn-large center-align" type="submit" required>
        Register
    </button>
</form>
</div>