@using SamMiller.Mumba.Models.AccountViewModels
@model NewAppUser
@{
    ViewData["Title"] = "Register";
}
<p>Hello World</p>

<form method="post">
    <label>Name</label>
    <input asp-for="Name">
    <label>Username</label>
    <input asp-for="UserName">
    <label>Email</label>
    <input asp-for="Email">
    <label>Password</label>
    <input asp-for="Password">
    <button class="btn" type="submit">
        Register
    </button>
</form>